$font-styles: (
  'h1': (
    'size': 55px,
    'weight': 700,
  ),
  'h2': (
    'size': 50px,
    'weight': 700,
  ),
  'h3': (
    'size': 40px,
    'weight': 700,
  ),
  's1': (
    'size': 32px,
    'weight': 700,
  ),
  's2': (
    'size': 24px,
    'weight': 600,
  ),
  's3-1': (
    'size': 20px,
    'weight': 500,
  ),
  's3-2': (
    'size': 20px,
    'weight': 700,
  ),
  'b1': (
    'size': 18px,
    'weight': 600,
  ),
  'b2-1': (
    'size': 16px,
    'weight': 500,
  ),
  'b2-2': (
    'size': 16px,
    'weight': 600,
  ),
  'b3': (
    'size': 14px,
    'weight': 500,
  ),
  'b4': (
    'size': 12px,
    'weight': 500,
  ),
  'n1': (
    'size': 12px,
    'weight': 600,
  ),
);

$color-types: (
    'blue': #3c76f1,
    'sky': #bedeff,
    'white': #fff,
    'black': #000,
    'gray1': #767676,
    'gray2': #f7f7fb,
    'gray3': #f1f3f5,
    'gray4': #e2e2e2,
    'gray5': #9ca3af,
    'purple': #7a54ff,
    'red': #f95353,
);

@mixin text-style($style-name, $color) {
  font-size: map-get(map-get($font-styles, $style-name), 'size');
  font-weight: map-get(map-get($font-styles, $style-name), 'weight');
  color: map-get($color-types, $color);
}

@mixin bg_color($color) {
  background: map-get($color-types, $color);
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
