@import "/src/app/scss/variables.scss";

.footer_wrap {
    box-sizing: border-box;
    height: 213px;
    display: flex;
    flex-direction: column;
    padding: 82px 32px 40px;
    background: #f1f3f5 url(/img_logo.png) 32px 30px /74px 40px no-repeat;
    border-top: 1px solid #e6e6e6;
}

.email {
    color: #767676;
    font-size: 12px;
    letter-spacing: -2.5%;
    line-height: 17px;
    font-weight: 400;
}

.right {
    margin-top: 40px;
    color: #767676;
    font-size: 12px;
    letter-spacing: -2.5%;
    line-height: 17px;
    font-weight: 400;
}