@use "/src/app/scss/variables" as *;

.footer_wrap{
    background: #f1f3f5;
    border-top: 1px solid #e6e6e6;
    width: 100%;
}

.footer_inner {
    box-sizing: border-box;
    height: 213px;
    display: flex;
    flex-direction: column;
    padding: 82px 24px 40px;
    background: #f1f3f5 url(/img_logo.png) 24px 30px /74px 40px no-repeat;
    max-width: 1380px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.email {
    color: #767676;
    font-size: 12px;
    letter-spacing: -2.5%;
    line-height: 17px;
    font-weight: 400;
}

.right {
    margin-top: 40px;
    color: #767676;
    font-size: 12px;
    letter-spacing: -2.5%;
    line-height: 17px;
    font-weight: 400;
}