@import "/src/app/scss/variables.scss";

.header_wrap {
    position: absolute;
    top: 0;
    left: 0 ;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.logo {
    width: 74px;
    height: 40px;
    background: url(/img_logo.png) center/74px 40px no-repeat;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 21px;
}

.nav_area {
    display: flex;
    justify-content: space-between;
    gap: 48px;

    .nav {
        @include text-style("b2-1", "black");

        line-height: 22px;
    }
}

@media (min-width: 1024px) {
    .header_wrap {
        width: 960px;
        margin: 0 auto;
    }
}