@import "/src/app/scss/variables.scss";

.section_1 {
  height: 764px;
  background: linear-gradient(to bottom, rgba(#bedeff,100%), rgba(#bedeff,14%)) 0 0/100% 100% no-repeat;

  .title {
    padding-top: 145px;
    text-align: right;
  
    @include text-style('h2','black');
  }
}

.section_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 272px;
  background-color: #fff;
  text-align: center;

  .title {
    line-height: 48px;

    @include text-style('h3','black');
  }

  .desc {
    margin-top: 3px;
    line-height: 22px;

    @include text-style('b2-1','gray1');
  }
}

.section_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 452px;
  background-color: #f7f7fb;

  .item {
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 38px;

    .img {
      width: 290px;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    .info_area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 75px;
    }
    
    .title {
      @include text-style('s1', 'black');
    }

    .desc {
      margin-top: 10px;
      line-height: 24px;

      @include text-style('s2-1', 'gray1');
    }

    .link_area {
      display: flex;
      justify-self: flex-end;
      margin-top: 24px;
      
      a {
        display: block;
        padding: 0 20px;
        border-radius: 21px;
        line-height: 42px;
      }
    }

    .youtube_link {
      margin-right: 12px;
      background-color: #fff;

      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
      
      @include text-style('b2-2', 'black');
    }

    .follow_link {
      background-color: #3c76f1;

      @include text-style('b2-2', 'white');
    }
  }
}

.section_1_image {
  display: block;
  height: 764px;
  background: url("/img_section_1_758x566.png") 0 0/1024px 764px no-repeat;
}

.link {
  display: block;
}

@media (min-width: 1024px) {
  .section_1 {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
}

.section_5 {
  margin: 120px 0 60px;
  background-color: #fff;

  .title {
    line-height: 48px;

    @include text-style('h3','black');
  }

  .desc {
    margin-top: 10px;
    line-height: 22px;

    @include text-style('b2-1','gray1');
  }


  .link {
    display: inline-block;
    margin-top: 16px;
    padding: 0 20px;
    background-color: #3c76f1;
    border-radius: 21px;
    line-height: 42px;
    vertical-align: top;

    @include text-style('b2-2', 'white');
  }

  .list {
    margin-top: 60px;
    display: flex;

    .item {
      width: calc((100% - 32px)/ 2);
      padding: 24px;
      background-color: #f7f7fb;
      border-radius: 20px;

      .img {
        width: 100%;
        height: 366px;
        border-radius: 16px;
        object-fit: cover;
        object-position: center;
      }

      & + .item {
        margin-left: 32px;
      }

      .info_area{
        margin-top: 32px;

        .day_wrap {
          text-align: right;
        }

        .day {
          display: inline-block;
          padding: 0 16px;
          background-color: #000;
          border-radius: 16px;
          line-height: 32px;
          vertical-align: top;

          @include text-style('b3', 'white');
        }

        .sub_title {
          line-height: 28px;

          @include text-style('s2-2', 'black');
        }

        .sub_desc {
          margin-top: 12px;
          line-height: 20px;

          @include text-style('b3', 'gray1')
        }
      }
    }
  }

  @media (min-width: 1024px) {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
}

.section_6 {
  margin: 60px 0 300px;
  background-color: #fff;
  text-align: center;

  .title {
    line-height: 48px;

    @include text-style('h3','black');
  }

  .desc {
    margin-top: 8px;
    line-height: 22px;

    @include text-style('b2-1','gray1');
  }

  .link_wrap {
    text-align: right;
  }

  .link {
    display: inline-block;
    margin-top: 16px;
    padding: 0 20px;
    background-color: #3c76f1;
    border-radius: 21px;
    line-height: 42px;
    vertical-align: top;

    @include text-style('b2-2', 'white');
  }

  .list {
    margin-top: 60px;
    display: flex;

    .item {
      width: calc((100% - 32px)/ 2);
      padding: 24px;
      background-color: #f7f7fb;
      border-radius: 20px;

      .img {
        width: 100%;
        height: 366px;
        border-radius: 16px;
        object-fit: cover;
        object-position: center;
      }

      & + .item {
        margin-left: 32px;
      }

      .info_area{
        margin-top: 32px;

        .day_wrap {
          text-align: right;
        }

        .day {
          display: inline-block;
          padding: 0 16px;
          background-color: #000;
          border-radius: 16px;
          line-height: 32px;
          vertical-align: top;

          @include text-style('b3', 'white');
        }

        .sub_title {
          line-height: 28px;

          @include text-style('s2-2', 'black');
        }

        .sub_desc {
          margin-top: 12px;
          line-height: 20px;

          @include text-style('b3', 'gray1')
        }
      }
    }
  }

  @media (min-width: 1024px) {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
}